<style>
  nav.pagination {
    display: none;
  }
</style>

<div class='container px-5 px-sm-0'>
  <%= render "devise/shared/error_messages", resource: @book %>
  <div class='row'>

    <div class='col-md-3'>
      <%= render 'common/user_info', user: current_user %>
      <%= render 'common/new_book' %>
    </div>

    <div class='col-md-8 offset-md-1'>
      <h2>Books</h2>
      <div class="row border-top border-bottom py-1 font-weight-bold">
        <div class="col-sm">
        </div>
        <div class="col-sm">
          Title
        </div>
        <div class="col-sm">
          Description
        </div>
        <div class="col-sm">
          いいね
        </div>
      </div>
      <div class='jscroll'>
        <% @books.each do |a_book| %>
          <div class="row border-bottom py-1">
            <div class="col-sm">
              <%= link_to user_path(a_book.user.id) do %>
                <% if a_book.user.profile_image.attached? %>
                  <%= image_tag a_book.user.profile_image, size: '60x60' %>
                <% else %>
                  <%= image_tag 'no_image.jpg' %>
                <% end %>
              <% end %>
            </div>
            <div class="col-sm">
              <%= link_to a_book.title, book_path(a_book.id) %>
            </div>
            <div class="col-sm">
              <%= a_book.body %>
            </div>
            <div class="col-sm" id="favorite_book_<%= a_book.id %>">
              <% if a_book.favorite.find_by(user_id: current_user.id) %>
                <%= render '/favorites/thumb_done', book: a_book %>
              <% else %>
                <%= render '/favorites/thumb_yet', book: a_book %>
              <% end %>
            </div>
          </div>
        <% end %>
        <%= paginate @books %>
      </div>
    </div>

  </div>
</div>

<script>
  $(document).on('turbolinks:load', function() {
    $('.jscroll').jscroll({
      contentSelector: '.jscroll', 
      nextSelector: '.next a',
      padding: 10
    });
  });
</script>